@charset "utf-8";
/* base.css */

/* font-family: 'Modak' */
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/* font-family: 'Quicksand'  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root{
  --color-main: #F2F1EB;
  --color-point: #0F72AA;
  --color-bg: #30302F;
  --font-main: 'SUITE-Regular', 'Dovemayo_gothic', '맑은 고딕';
  --font-title: 'Modak', 'Quicksand', sans-serif;
  --font-kor: 'Dovemayo_gothic', '맑은 고딕', sans-serif;
  --font-eng: 'Quicksand', sans-serif, arial;
}

a{text-decoration: none;color: var(--color-main);}

body{
  background: var(--color-bg);
  color: var(--color-main);
  font-family: var(--font-main);
  font-weight: 500;
  overflow-x: hidden;
}

/* 공통 클래스 */
.hidden{
  display: block;
  width: 0;height: 0;
  text-indent: -9999px;
}