@charset "utf-8";
/* main.css */

/****** 로딩 ******/

#load{
  position: absolute;z-index: 10;
  background: var(--color-bg);
  font-size: 180px;
  font-family: var(--font-title);
  text-align: center;
  overflow: hidden;
}
#load h2, #load h3, #load h4{
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
#load h2{
  position: relative;left: -100%;
}
#load h3{
  position: absolute;z-index: 2;
  left: -100%;
  width: 50%;
  background: var(--color-bg);
  text-align: right;
}
.k{
  position: relative;left: -80%;
  opacity: 0;
}
.dot{
  position: relative;
  transform: rotate(0);
}
#load h4{
  position: absolute;z-index: 1;
  left: 0;
}
.bg1, .bg2{
  position: absolute;
  left: 0;top: 100%;
  width: 100%;height: 100vh;
}
.bg1{background: var(--color-point);}
.bg2{background: var(--color-main);}

/****** 인트로 ******/

#intro{
  position: relative;
  background: var(--color-main);
  overflow: hidden;
}
.big_circle{
  position: absolute;
  left: 50%;bottom: 10%;
  width: 120px;height: 120px;
  min-width: 100px;
  transform: translateX(-0%) scale(0);
  background: var(--color-point);
  border-radius: 50%;
}

.ball{animation: bigCircle 3s forwards;}
@keyframes bigCircle{
  10%{
    bottom: 15%;
    transform: translateX(-30%) scale(0.5);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  25%{
    bottom: 0%;
    transform: translateX(-50%) scale(1);
  }
  40%{
    bottom: 30%;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  55%{bottom: 0}
  78%, 80%{
    bottom: 93%;
    transform: translateX(-50%) scale(1);}
  90%{
    bottom: 76%;
    transform: translateX(-50%) scale(10.5);
  }
  100%{
    bottom: 76%;
    transform: translateX(-50%) scale(9.5);
  }
}

#intro article{
  display: none;
  text-align: center;
}
#intro h3, #intro p, .scroll{
  position: absolute;left: 50%;
  transform: translateX(-50%);
}
#intro h3{
  top: 13%;
  font-size: 145px;
  font-family: var(--font-title);
}
#intro p{
  top: 41%;
  line-height: 46px;
  font-size: 36px;
  font-family: var(--font-eng);
}
.scroll{
  bottom: 1%;
  animation: scroll 2s infinite ease;
}
.scroll span{
  display: block;
  margin-top: 5px;
  width: 55px;
  line-height: 55px;
  background: var(--color-point);
  border-radius: 50%;
  color: var(--color-main);
  font-size: 12px;
  font-family: var(--font-eng);
  font-weight: 600;
}
@keyframes scroll {
  50%{bottom: 2%;}
  100%{bottom: 1%}
}

/* 배경효과 */
.bubble{
  position: absolute;top: 100%;
  background: var(--color-point);
  border: 1px dashed var(--color-point);
  border-radius: 50%;
  scale: 0.02;
}
.circle1{
  left: 0.5%;
  width: 310px;height: 310px;
}
.circle2{
  left: 8%;
  width: 230px;height: 230px;
  background: rgba(217, 217, 217,0.3);
}
.circle3{
  left: 3%;
  width: 390px;height: 390px;
}
.circle4{
  right: 3%;
  width: 225px;height: 225px;
}
.circle5{
  right: -3%;
  width: 410px;height: 410px;
}
.circle6{
  right: 13%;
  width: 200px;height: 200px;
  background: rgba(15, 114, 171,0.1);
}

/****** 프로필 ******/

#profile{
  background: url(../images/profile_bg.png) no-repeat top;
  background-size: 100%;
  font-family: var(--font-kor);
}
#profile .layout{
  display: flex;
  justify-content: center;
}
#profile .img_box{
  margin-top: 3%;
  width: 240px;height: 300px;
  background: var(--color-point);
  border-radius: 120px;
  overflow: hidden;
}
#profile img{
  width: 97%;
  margin-top: 100%;
  transform: translate(5%, 22%);
}
.profile_cont{
  margin: 3% 0 0 5%;
  color: var(--color-bg);
}
.profile_cont h3{
  font-size: 40px;
  line-height: 50px;
}
.profile_cont p{
  margin-top: 8%;
  font-size: 22px;
  line-height: 28px;
  opacity: 0;
}

/* 밑줄 */
.underline {
  background-image: linear-gradient(transparent calc(100% - 24px), rgba(37, 145, 211, 0.7) 3px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: 0.2s;
}

.profile_cont > ul{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 6%;
  opacity: 0;
}
.profile_cont > ul > li{margin-right: 5%;}
.profile_cont > ul > li:last-child{margin-top: 3%;}
.profile_cont > ul > li > span{
  padding: 5px 20px;
  background: var(--color-bg);
  border-radius: 30px 0 30px 0;
  color: var(--color-main);
  font-family: var(--font-eng);
  font-size: 22px;
  font-weight: 600;
}
.profile_cont > ul > li > ul{
  border-left: 2px solid var(--color-bg);
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 20px;
}

/* 프로필 */
.prof li{padding: 3% 0;}

/* 성격 */
.char{
  position: relative;
  width: 250px;height: 155px;
}
.char li{
  display: inline-block;
  position: absolute;
  margin: 2px;
  background: rgba(13, 114, 170, 0.4);
  border-radius: 50%;
  font-family: var(--font-kor);
  text-align: center;
}
.char li:nth-child(2n){background: rgba(48, 48, 47, 0.2)}
.char li:first-child{
  left: 105px;top: 50px;
  width: 75px;line-height: 75px;
  font-size: 30px;
}
.char li:nth-child(2){
  left: 180px;top: 90px;
  width: 65px;line-height: 65px;
  font-size: 20px;
}
.char li:nth-child(3){
  left: 17px;top: 42px;
  width: 64px;line-height: 64px;
  font-size: 26px;
}
.char li:nth-child(4){
  left: 57px;top: 104px;
  width: 50px;line-height: 50px;
  font-size: 20px;
}
.char li:nth-child(5){
  left: 73px;top: 12px;
  width: 48px;line-height: 48px;
  font-size: 18px;
}
.char li:last-child{
  left: 174px;top: 17px;
  width: 54px;line-height: 54px;
  font-size: 17px;
}

/* 자격증 */
.cert li{line-height: 30px;}

/* 기술 */
.skill{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.skill li{
  position: relative;
  margin: 5px 0 10px 0;
  width: 100px;height: 100px;
  background: rgba(48, 48, 47, 0.2);
  border-radius: 50%;
  text-align: center;
}
.skill li span{
  display: block;
  transform: translateY(108px);
  font-family: var(--font-eng);
  font-size: 16px;
  font-weight: 600;
}

/* 프로그레스 바 */
.progress_bar{
  position: absolute;left: 50%;top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;height: 100px;
  background: conic-gradient(var(--color-bg) 0deg, transparent 0deg);
  border-radius: 50%;
}
.progress_bar::before{
  content: '';
  display: block;
  position: absolute;left: 50%;top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;height: 80px;
  background: var(--color-main);
  border-radius: 50%;
}
.progress_bar::after{
  content: '';
  display: block;
  width: 71px;height: 71px;
  border-radius: 50%;
  border: 5px solid rgba(71, 71, 71, 0.2);
  position: absolute;left: 50%;top: 50%;
  transform: translate(-50%, -50%);
}
.progress_num{
  position: absolute;left: 50%;top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 22px;
  font-family: var(--font-eng);
}

/****** 퍼블리싱 목차 ******/
#chapter h3{padding-top: 10%;}
#chapter h3, #chapter p, #chapter ul{
  position: relative;top: 7%;
  opacity: 0;
  text-align: center;
}
#chapter p{
  font-family: var(--font-kor);
  font-size: 20px;
  line-height: 27px;
}
#chapter ul{
  margin-top: 7%;
}
#chapter ul li{
  display: inline-block;
  margin: -1%;
  text-align: left;
  font-size: 20px;
}
#chapter ul li a{
  position: relative;
  display: block;
  border-radius: 50%;
  width: 180px;height: 180px;
  background: var(--color-main);
  color: var(--color-bg);
  transition: 0.3s;
}
#chapter ul li:hover a{
  background: var(--color-point);
  color: var(--color-main);
  animation: list 1.5s infinite ease-in-out;
}
@keyframes list{
  0%{top: -10px}
  50%{top: -30px;}
  100%{top: -10px;}
}
#chapter ul li a h4{
  transform: translate(40px, 55px);
  font-family: var(--font-kor);
  font-size: 22px;
}
#chapter ul li a span{
  display: block;
  transform: translate(40px, 67px);
  font-family: var(--font-eng);
}

/****** 퍼블리싱 ******/

#publish{height: 100%;}
#publish article{
  position: sticky;
  top: 0;left: 0;
  width: 100%;height: 100vh;
  background: var(--color-bg);
}

/* 상단 설명 */
.pub_top{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3% 0 1% 0;
  top: 4%;
  opacity: 0;
}
.pub_title{margin-left: 5px;}
.pub_title h3{
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 2px;
}
.pub_title h4{
  margin-top: 2%;
  font-size: 28px;
  font-family: var(--font-eng);
}
.pub_title p{
  margin-top: 7%;
  font-size: 17px;
  line-height: 23px;
}

/* 정보 리스트 */
.pub_top > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 66%;
}
.pub_top > ul > li{
  margin-right: 75px;
  padding: 5px;
  border-top: 2px solid var(--color-main);
  font-size: 18px;
  line-height: 24px;
}
.pub_top > ul > li:last-child{
  grid-row: 1/3;grid-column: 3/4;
}
.pub_top ul li h5{
  margin-bottom: 3%;
  font-size: 22px;
  font-family: var(--font-eng);
  font-weight: 600;
}
.pub_top ul li p{line-height: 24px;}
.pub_top ul li > ul{line-height: 24px;}

/* 사용툴 */
.tool{
  width: 235px;
  display: flex;
  flex-wrap: wrap;
}
.tool li{
  margin: 0 12px 8px 0;
  line-height: 24px;
}
.tool li:last-child{
  font-family: var(--font-eng);
  line-height: 28px;
}
.tool li img{
  vertical-align: -7px;
  padding-right: 7px;
}

/* 하단 작품 */
.pub_bottom{
  position: relative;
  width: 100%;height: 100%;
  overflow: hidden;
  /* opacity: 0; */
}
.pub_bottom > ul{
  position: absolute;z-index: 1;
  left: 50%;top: 5%;
  transform: translateX(-50%);  
}
.pub_bottom > ul li{display: inline-block;}

/* 배경 */
.bg{
  position: absolute;top: 0;
  width: 1440px;height: 1440px;
  border-radius: 50%;
}
.bg::after{
  content: '';display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 1420px;height: 1420px;
  border: 3px dashed rgba(255, 255, 255,0.8);
  border-radius: 50%;
}
.bg span{
  position: absolute;
  top: 40%;left: 4%;
  font-size: 65px;
  font-family: var(--font-eng);
}

/* 블라인드 배경 */
.blind{
  content: '';
  display: none;
  position: absolute;z-index: 10;
  left: 0;top: 0;
  width: 100%;height: 100%;
  background: var(--color-bg);
  opacity: 0;
}

/* P01 - 블랙핑크 */
#p01 .bg{background: #A7727D;}
#p01 .mockup{
  position: relative;z-index: 2;
  left: calc(50% - 315px);bottom: -11%;
}
.pub1{
  position: absolute;z-index: 2;
  top: 15px;left: -24%;
  width: 100%;
}
.pub1 .swiper-slide img{border-radius: 5px;}
.pub1 > div{ 
  position: absolute;
  top: 50%;left: 18%;
  font-size: 20px;
  font-family: var(--font-eng);
}
#p01 .slide_arrow img{margin-left: 5px;}

/* P02 - 시장하시죠 */
#p02 .bg{background: #66948F;}
#p02 .mockup{
  position: relative;z-index: 2;
  left: calc(50% - 134px);bottom: -11%;
}
.pub2{
  position: absolute;z-index: 2;
  top: 12px;left: -36.5%;
  width: 100%;
}
.pub2 .swiper-slide img{border-radius: 27px;}
.pub2 > div{
  position: absolute;
  left: 23%;top: 50%;
  font-size: 20px;
}
#p02 .slide_arrow img{margin-left: 5px;}

/* P03 - 죠스떡볶이 */
#p03 .bg{background: #902D34;}
#p03 .bg span{top: 38%}
#p03 .pub_top{padding-bottom: 2%;}
#p03 .pub_top ul {grid-template-rows: repeat(2, 70px);}
#p03 .pub_top ul li:nth-child(3){font-size: 17px;}
.mouse{
  position: absolute;
  left: 0;top: 0;
  width: 100%;height: 100%;
  background: rgba(0,0,0,.6);
  cursor: pointer;
}
.mouse > div {
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-bg);
  border-radius: 50%;
  text-align: center;
}
.mouse > div span{
  display: block;
  padding-top: 31%;
}
.mouse > div img{
  display: inline-block;
  padding-top: 14%;
  width: 11%;
}

/* 노트북 */
.laptop_box{
  position: absolute;z-index: 1;
  top: 183px;left: 214px;
}
.laptop_box > div{
  position: absolute;
  top: 27px;left: 83px;
  height: 340px;
  overflow: hidden;
}
.laptop_box .mouse div{width: 160px;height: 160px;}
.laptop_box .mouse div span{font-size: 18px;line-height: 26px;}

/* 태블릿 */
.tablet_box{
  position: absolute;z-index: 1;
  right: 245px;top: 252px;
}
.tablet_box > div{
  position: absolute;
  top: 16px;left: 18px;
  width: 213px;height: 308px;
  overflow: hidden;
  border-radius: 5px;
}
.tablet_box .mouse div{width: 140px;height: 140px;}
.tablet_box .mouse div span{font-size: 16px;line-height: 24px;}

/* 모바일 */
.mobile_box{
  position: absolute;z-index: 2;
  right: 468px;top: 380px;
}
.mobile_box > div{
  position: absolute;
  right: 7px;top: 6px;
  height: 210px;
  overflow: hidden;
  border-radius: 10px;
}
.mobile_box .mouse div{width: 85px;height: 85px;}
.mobile_box .mouse div span{
  padding-top: 25%;
  font-size: 10px;line-height: 15px;
}
.mobile_box > img:first-of-type{position: absolute;cursor: pointer;}
.mobile_box > img:last-of-type{width: 110px;}

/* P04 - 현대자동차 캐스퍼 */
#p04 .bg{background:#4C709B;}
#p04 .bg span{top: 41%;}
#p04 .mockup img{
  position: absolute;left: 50%;
  transform: translateX(-50%);
}
#p04 .mockup img:first-child{
  position: relative;z-index: 2;
  top: 238px;
  width: 36%;
}
#p04 .mockup img:last-child{
  position: absolute;z-index: 1;
  top: 66px;
  transform: scale(0);
  width: 82%;
}

/* 목업이미지 */
.img-scale{
  animation: img-scale 0.6s forwards;
}
@keyframes img-scale{
  from{transform: translateX(-50%) scale(0)}
  to{transform: translateX(-50%) scale(1)}
}

/* P05 - 아프리카 동물병원 */
#p05 .bg{background: #6571B6;}
#p05 .pub_top ul {grid-template-rows: repeat(2, 70px);}
#p05 .pub_top ul li:nth-child(3){font-size: 17px;}
#p05 .mockup img{
  position: absolute;
  top: 17%;z-index: 1;
}
#p05 .mockup img:first-child{
  left: 15%;opacity: 0;
}
#p05 .mockup img:nth-child(2){
  left: 12%;
}
#p05 .mockup img:last-child{
  top: 27%;right: 23%;
  opacity: 0;
}

/* P06 - 하림 펫푸드 */
#p06 .bg{background: #9F2929;}
#p06 .mockup img{
  position: absolute;
  left: 22%;top: 9%;
  z-index: 1;
}
#p06 .mockup img:last-of-type{
  top: 35%;left: 45%;
  margin: 23% 0 0 -25%;
}

/* 백그라운드 */
#publish .layout .cover{
  position: relative;
  margin-top: 5%;
  width: 100%;height: 100vh;
  background: rgb(48,48,47);
  background: linear-gradient(360deg, rgba(48,48,47,1) 60%, rgba(48,48,47,0.9164040616246498) 76%, rgba(48,48,47,0.7203256302521008) 88%, rgba(48,48,47,0.21332282913165268) 100%);
}
#publish .layout .cover::before{
  content: '';
  display: block;
  position: absolute;top: 0;
  width: 100%;height: 500px;
  background: rgb(48,48,47);
  background: linear-gradient(360deg, rgba(48,48,47,1) 60%, rgba(48,48,47,0.9164040616246498) 76%, rgba(48,48,47,0.7203256302521008) 88%, rgba(48,48,47,0.21332282913165268) 100%);
}

/****** UI/UX 디자인 ******/

#design{
  position: relative;
  background: var(--color-bg);
}

/* 타이틀 배경 */
.design_title{
  top: 0;left: 0;
  width: 100%;height: 100%;
  background: var(--color-bg);
}
.design_title h3{
  position: absolute;top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.design_title h3 span{display: block;}

/* 작품 */
.design_box{
  position: relative;top: 120%;
  width: 100%;
}
.card{
  width: 342px;height: 484px;
  perspective: 1000px;
  border-radius: 30px;
}
.card_inner{
  position: relative;
  width: 100%;height: 100%;
  transform-style: preserve-3d;
  transition: 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  cursor: pointer;
}
.front{
  position: absolute;top: 0;left: 0;
  width: 100%;height: 100%;
}
.front img{
  width: 100%;height: 100%;
  border-radius: 30px;
  object-fit: cover;
}
.back{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;height: 100%;
  transform: rotateY(180deg);
  border-radius: 30px;
  backface-visibility: hidden;
}
.back > ul {
  display: flex;
  padding: 50px 0 0 18px;
}
.back .btn{
  margin: 0 10px 0 0;
  width: 120px;
  line-height: 32px;
  font-size: 15px;
}
.back .btn:hover{font-size: 14px;}
.card_info{margin: 0 0 40px 18px;}
.card_info > p{
  margin: 14px 0 20px 0;
  line-height: 22px;
}
.card_info ul li{margin-bottom: 15px;}
.card_info ul li h4{
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-eng);
}
.card_title{
  margin: 15px 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-shadow: 0 0 4px var(--color-bg);
}
.card_title h5{font-size: 20px;}

.design_box ul li{position: relative;}

/* 뮤지엄고 */
#d01 .back{background-color: #6B5F4C;}

/* 아이폰 */
#d02{left: 69%;}
#d02 .back{background-color: #B1C1CE;color: var(--color-bg);}

/* 뮤지엄고 로고 */
#d03{left: 24%;}
#d03 .back{background-color: #9A907F;}
#d03 .back img{width: 50px;}

/* 시장하시죠 로고 */
#d04{left: 76%;}
#d04 .back{background-color: #9CB6B0;color: var(--color-bg);}

/* 애플워치 배경 */
#d05{left: 0;margin-top: -10%;}
#d05 .back{background-color: #000;}
.d05_img{
  position: absolute;
  top: 10%;left: 26%;
  opacity: 0;
}

/* 배너 */
#d06{left: 40%;}
#d06 .front{
  background-color: #6f9c68;
  border-radius: 30px;
}
#d06 .front img{
  display: block;
  width: 120px;height: auto;
  margin: 50% auto 20px;
  border-radius: 0;
}
#d06 .front p{
  font-size: 20px;
  text-align: center;
}
#d06 span{
  display: block;
  padding-top: 210px;
}
#d06 .back{background-color: #6f9c68;}

/***** 연락 *****/

#contact{
  margin-top:480vh;
  height: calc(100vh - 64px);
  background-image: url(../images/contact_bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--color-main);
  color: var(--color-bg);
}
#contact p{
  padding-top: 78px;
  color: var(--color-main);
  font-size: 22px;
  font-family: var(--font-kor);
  line-height: 32px;
  text-align: center;
}
#contact h3{margin-top: 130px;}
#contact ul{
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 50px;
}
#contact ul li{text-align: center;}
#contact ul li a{
  display: block;
  width: 245px;height: 245px;
  background: var(--color-bg);
  border-radius: 50%;
}
#contact ul li a img{
  display: inline-block;
  width: 93px;
  transform: translateY(60px);
}
#contact ul li h4{
  transform: translateY(75px);
  font-size: 40px;
  font-family: var(--font-title);
}
#contact ul li span{
  display: inline-block;
  position: relative;
  margin-top: 25px;
  width: 186px;
  line-height: 40px;
  background-color: var(--color-bg);
  border-radius: 25px;  
  color: var(--color-main);
  font-weight: 600;
  opacity: 0;
}
#contact ul li span::before{
  content: '';display: inline-block;
  position: absolute;
  top: -15px;left: 46%;
  border: 8px solid transparent;
  border-bottom: 8px solid var(--color-bg);
}

.call{animation: call 0.4s 2;}
.kakao{animation: kakao 1s forwards ease-in-out;}
.mail{animation: mail 1s forwards ease-in-out;}

@keyframes call{
  0%{transform: translateY(60px) rotate(-15deg);}
  50%{transform: translateY(60px) rotate(15deg);}
  100%{transform: translateY(60px) rotate(-15deg);}
}
@keyframes kakao{
  from{transform: translate(-50px, 100px) scale(0);}
  to{transform: translate(0, 60px) scale(1);}
}
@keyframes mail{
  50%{transform: translate(92px, -10px) scale(0);opacity: 0;}
  55%{transform: translate(-110px, 150px) scale(0.1)}
  100%{transform: translate(0, 60px) scale(1);opacity: 1;}
}